@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
            linear-gradient(to bottom, rgba(7, 13, 23, 0.9), rgba(0, 0, 0, 0.9)),
            url('https://picfiles.alphacoders.com/424/thumb-1920-424590.jpg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
}

.content {
    animation: fadeIn 1.5s ease-in-out;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ddd;
}

.button {
    padding: 1rem 2rem;
    background-color: #FFC107;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 193, 7, 0.6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
